/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: "Poppins",sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.main{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 500px;
    min-width: 500px;
    width: 100%;
    background: #11101d;
    padding: 6px 14px;
}

.head{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
}

.head .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.head .logo img{
    border: solid white;
}

.head .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.admin{
    position: fixed;
    display: flex;
    background: white;
    text-align: center;
    border: solid rgb(255, 0, 0);
    width: 20%;
    right: 0;
    top: 0;
    margin: 10px 10px 0px 0px;
}

.admin a{
    margin: 5px;
    text-decoration: none;
    text-align: center;
    border: solid black;
    color: black;
}

.mid{
    margin: 30px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: white 11101d;
    scrollbar-width: thin;
    height: 80%;
}

.news{
    margin: 10px;
}

.news h2{
    color: white;
}

.news ul{
    margin-top: 20px;
}

.news ul li{
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    color: white;
}

.teteTab{
    width: 30%;
    min-width: 300px;
}

.teteTabDroit{
    width: 100%;
}

.lienImg{
    width: 30px;
    height: 30px;
}

.news ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    width: 100%;
}

.news ul li a:hover{
    color: #11101d;
    background: white;
}

.date{
    width: 30%;
}

.lienImg{
    width: 30px;
    height: 30px;
}

.nom{
    width: 30%;
}

.titre{
    width: 100%;
}

p{
    color: white;
}

.bot{
    background: white;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    text-align: center;
}

.lien_droit{
    left:0;
    width: 33%;
    margin: 5px;
    text-decoration: none;
    color: black;
    border: solid black;
}
.milieu{
    width: 33%;
    margin: 5px;
    text-decoration: none;
    color: black;
    border: solid black;
}
.lien_gauche{
    right:0;
    width: 33%;
    margin: 5px;
    text-decoration: none;
    color: black;
    border: solid black;
}

.lien_gauche_seul{
    left:0;
    width: 50%;
    margin: 5px;
    text-decoration: none;
    border: solid black;
    color: black;
}

.lien_droit_seul{
    left:0;
    width: 50%;
    margin: 5px;
    text-decoration: none;
    border: solid black;
    color: black;
}

.milieu_seul{
    width: 50%;
    margin: 5px;
    border: solid black;
}

.seul{
    width: 100%;
    margin: 5px;
    border: solid black;
}





